PORT=3020
ZAPI_INSTANCE_ID=COLE_SEU_INSTANCE_ID
ZAPI_INSTANCE_TOKEN=COLE_SEU_INSTANCE_TOKEN
ZAPI_CLIENT_TOKEN=
INTERNAL_API_KEY=defina-uma-chave-interna-forte
PUBLIC_BASE_URL=https://seu-backend.exemplo.com
ALLOWED_ORIGIN=https://www.newage.ind.br
